[user]
	name = Chris Birchall
	signingkey = 7A57943D50711AD3
[core]
	editor = nvim
	autocrlf = input
	excludesfile = ~/.gitignore_global
[github]
	user = cb372
[push]
	default = simple
	autoSetupRemote = true
[color]
	diff = auto
[alias]
	co = checkout
	delete-squashed = "!f() { local targetBranch=${1:-main} && git checkout -q $targetBranch && git branch --merged | grep -v \"\\*\" | xargs -n 1 git branch -d && git for-each-ref refs/heads/ \"--format=%(refname:short)\" | while read branch; do mergeBase=$(git merge-base $targetBranch $branch) && [[ $(git cherry $targetBranch $(git commit-tree $(git rev-parse $branch^{tree}) -p $mergeBase -m _)) == \"-\"* ]] && git branch -D $branch; done; }; f"
[commit]
	gpgsign = true
[diff]
	noprefix = true
	tool = nvimdiff
[init]
	defaultBranch = main
[branch]
	sort = -committerdate
[merge]
	conflictStyle = zdiff3
