*.*
!.*
!*.vim
!*.json
!*.sbt
.config/hub
.config/coc/
.config/configstore/
.config/htop/
.config/wireshark/
.config/znt/
.sbt/ghpages/
.sbt/preloaded/
.vim/plugged/
.netrwhis*
.DS_Store
.h2.server.properties
.CFUserTextEncoding
*_history
.Xauthority
.histfile
.ivy2
.lesshst
.netrc
.rnd
*.history
*.lock
.viminfo
.zcompdump
.netbeans
.ctags
.twitter_oauth
.dbshell
.mongorc.js
.zprofile.local
